.OurTeamStyle{ 

    width: 100%; 
    height: 400px;
    color: palevioletred   ;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: blue
    









}